!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
  %body
    
.user__name shin
.groups
%p.group__name 水泳部
.group ４年生
.message 練習